<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiki.admin.sys.org.model.mapper.OrgAuthRoleMapper">

    <select id="selectRoleIdsByAuthId" resultType="java.lang.String">
        SELECT field_role_id FROM admin_org_auth_role WHERE field_auth_id = #{fieldAuthId}
    </select>

    <select id="selectRoleIdsByAuthIds" resultType="java.lang.String">
        SELECT DISTINCT field_role_id FROM admin_org_auth_role
        WHERE field_auth_id IN
        <foreach collection="fieldAuthIds" item="id" open="(" close=")" separator=",">#{id}</foreach>
    </select>

    <insert id="insert">
        INSERT INTO admin_org_auth_role (field_auth_id, field_role_id)
        VALUES (#{fieldAuthId}, #{fieldRoleId})
    </insert>

    <delete id="deleteByAuthId">
        DELETE FROM admin_org_auth_role WHERE field_auth_id = #{fieldAuthId}
    </delete>

    <delete id="deleteByAuthIdAndRoleId">
        DELETE FROM admin_org_auth_role
        WHERE field_auth_id = #{fieldAuthId} AND field_role_id = #{fieldRoleId}
    </delete>

</mapper>
